.main .second_in_head, .main .first_in_head {
  margin: 13px 0px 13px 0px;
  background-color: #B83922;
  height: 75px;
}

.form_page_block .formtoDo form button, .form_page_block .formtoDo, .menu_page_block .menu_buttons button, .menu_page_block .menu_list .pizza_info button, .menu_page_block .menu_list .pizza_info, .main_page_block .second_main_page button, .main_page_block .first_main_page button {
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
  border: 2px solid #EC4D2F;
  border-radius: 15px;
}

.form_page_block .formtoDo form button:hover, .menu_page_block .menu_list .pizza_info button:hover, .main_page_block .second_main_page #prev:hover,
.main_page_block .second_main_page #next:hover {
  background-color: #EC4D2F;
}

.form_page_block .formtoDo form button:active, .menu_page_block .menu_list .pizza_info button:active, .main_page_block .second_main_page #prev:active,
.main_page_block .second_main_page #next:active {
  background-color: #B83922;
}

body {
  margin: 0;
  padding-top: 100px;
  background-color: #1D1B2B;
  display: grid;
  justify-items: center;
}

.main {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EC4D2F;
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  grid-template-rows: 1fr;
  z-index: 999;
  align-items: center;
}
.main .first_in_head {
  border-radius: 0px 100px 100px 0px;
  display: grid;
  align-items: center;
  justify-items: end;
}
.main .first_in_head img {
  margin-right: 17px;
}
.main .load_nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0px;
}
.main .load_nav ul li {
  display: grid;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: white;
}
.main .load_nav ul li :hover {
  background-color: #B83922;
  border-radius: 22%;
}
.main .load_nav ul li a {
  text-decoration: none;
  color: white;
  justify-self: center;
  margin: 10px;
}
.main .second_in_head {
  border-radius: 100px 0px 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: start;
}
.main .second_in_head img {
  margin-left: 35px;
}
.main .second_in_head .lang {
  position: absolute;
  left: 1000px;
  top: 114px;
  width: 220px;
  height: 150px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%);
  border: 2px solid #EC4D2F;
  border-radius: 28px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0px 10px 0px 10px;
}
.main .second_in_head .lang div {
  display: grid;
}
.main .second_in_head .lang div :hover {
  color: #EC4D2F;
}
.main .second_in_head .lang .ukr {
  border-bottom: 1px solid #EC4D2F;
}
.main .second_in_head .lang p, .main .second_in_head .lang .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .main .second_in_head .lang li {
  margin: 0px 30px 0px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: right;
  color: #FFFFFF;
  align-self: center;
}

.main_mobversion {
  display: none;
}

.load_nav_mob {
  max-width: 100%;
  height: 100vh;
  background-color: #1D1B2B;
  margin: 0px;
  margin-top: 100px;
}
.load_nav_mob ul {
  margin: 0px;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.load_nav_mob ul li {
  display: grid;
  height: 80px;
  width: 200px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  border-bottom: 1px solid #EC4D2F;
}
.load_nav_mob ul li a {
  align-self: flex-end;
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .main {
    display: none;
    height: 80px;
  }
  .main_mobversion {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    background-color: #EC4D2F;
    align-items: center;
  }
  .main_mobversion .first_in_head_mob {
    margin: 15px 0px 15px 0px;
    background-color: #B83922;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: end;
    border-radius: 0px 100px 100px 0px;
  }
  .main_mobversion .first_in_head_mob img {
    margin-right: 10px;
  }
  .main_mobversion .second_in_head_mob {
    margin: 15px 0px 15px 0px;
    background-color: #B83922;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: start;
    border-radius: 100px 0px 0px 100px;
  }
  .main_mobversion .second_in_head_mob img {
    margin-left: 10px;
  }
  .main_mobversion .middle_in_head_mob {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
@font-face {
  font-family: Apple Chancery;
  src: url(../Apple\ Chancery.ttf);
}
.main_page_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: center;
  margin-top: 100px;
}
.main_page_block .first_main_page {
  margin-left: 200px;
  justify-self: self-end;
}
.main_page_block .first_main_page div {
  margin-bottom: 70px;
}
.main_page_block .first_main_page h1, .main_page_block .first_main_page .form_page_block article h3, .form_page_block article .main_page_block .first_main_page h3, .main_page_block .first_main_page .form_page_block article h4, .form_page_block article .main_page_block .first_main_page h4, .form_page_block article .main_page_block .first_main_page p, .main_page_block .first_main_page .form_page_block article p, .form_page_block article .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .form_page_block article li, .main_page_block .second_main_page .form_page_block article .first_main_page p {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 184px;
  line-height: 277px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 80px 0px 0px 0px;
}
.main_page_block .first_main_page h2, .main_page_block .first_main_page .menu_page_block .menu_list .pizza_info p, .menu_page_block .menu_list .pizza_info .main_page_block .first_main_page p, .menu_page_block .menu_list .pizza_info .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .menu_page_block .menu_list .pizza_info li {
  font-family: Apple Chancery;
  font-style: italic;
  font-weight: 0;
  font-size: 84px;
  line-height: 133px;
  letter-spacing: 0.05em;
  color: #B83922;
  margin: 0px;
  text-align: center;
  position: absolute;
  left: 350px;
  top: 374px;
}
.main_page_block .first_main_page h4, .main_page_block .first_main_page p, .main_page_block .first_main_page ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main_page_block .first_main_page p, .main_page_block .first_main_page ul li {
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  margin-bottom: 40px;
}
.main_page_block .first_main_page ul {
  list-style-image: url(../marker.png);
  padding: 10px;
  margin-bottom: 40px;
}
.main_page_block .first_main_page ul li {
  margin-bottom: 20px;
  padding: 0px;
  margin-left: 15px;
}
.main_page_block .first_main_page button {
  width: 125px;
  height: 55px;
  margin-bottom: 120px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 18px;
}
.main_page_block .first_main_page button a {
  text-decoration: none;
  color: #FFFFFF;
}
.main_page_block .first_main_page button:hover {
  background-color: #EC4D2F;
}
.main_page_block .first_main_page button:active {
  background-color: #B83922;
}
.main_page_block .second_main_page {
  display: grid;
  grid-template-rows: 2fr 0.3fr;
  justify-items: center;
}
.main_page_block .second_main_page .main_sec_slaid {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.main_page_block .second_main_page button {
  width: 87px;
  height: 47px;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
.main_page_block .second_main_page #prev {
  border-radius: 15px 0px 0px 15px;
  margin-right: 20px;
}
.main_page_block .second_main_page .slaider {
  max-width: 100%;
  position: relative;
  display: flex;
  transition: left;
  left: 0px;
}
.main_page_block .second_main_page .contain2 {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.main_page_block .second_main_page .contain_slide {
  display: grid;
  grid-template-rows: 0.3fr 3fr 0.2fr 0.4fr;
  justify-items: center;
}
.main_page_block .second_main_page .discount {
  position: relative;
  display: flex;
  width: 160px;
  height: 160px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%), #1D1B2B;
  border: 1.73214px solid #EC4D2F;
  border-radius: 50%;
  top: 95px;
  left: -200px;
  z-index: 0;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #B83922;
  font-family: Apple Chancery;
  font-style: italic;
  font-size: 48px;
  box-sizing: border-box;
  padding: 40px 20px 40px 20px;
}
.main_page_block .second_main_page .pizza_foto {
  background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%), #1D1B2B;
  border: 1.73214px solid #EC4D2F;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.main_page_block .second_main_page .pizza_foto img {
  max-width: 490px;
  height: 490px;
}
.main_page_block .second_main_page h4, .main_page_block .second_main_page p, .main_page_block .second_main_page .first_main_page ul li, .main_page_block .first_main_page ul .second_main_page li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.main_page_block .second_main_page p, .main_page_block .second_main_page .first_main_page ul li, .main_page_block .first_main_page ul .second_main_page li {
  color: #EC4D2F;
}

@media (max-width: 1000px) {
  .main_page_block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .main_page_block .first_main_page {
    margin-left: 20px;
    justify-self: center;
  }
}
.menu_page_block {
  display: grid;
  grid-template-rows: 0.1fr 4fr 0.5fr;
  justify-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
}
.menu_page_block h1, .menu_page_block .form_page_block article h3, .form_page_block article .menu_page_block h3, .menu_page_block .form_page_block article h4, .form_page_block article .menu_page_block h4, .menu_page_block .form_page_block article .main_page_block .first_main_page p, .form_page_block article .main_page_block .first_main_page .menu_page_block p, .menu_page_block .main_page_block .first_main_page .form_page_block article p, .main_page_block .first_main_page .form_page_block article .menu_page_block p, .menu_page_block .form_page_block article .main_page_block .first_main_page ul li, .form_page_block article .main_page_block .first_main_page ul .menu_page_block li, .menu_page_block .main_page_block .first_main_page ul .form_page_block article li, .main_page_block .first_main_page ul .form_page_block article .menu_page_block li, .menu_page_block .form_page_block article .main_page_block .second_main_page p, .form_page_block article .main_page_block .second_main_page .menu_page_block p, .menu_page_block .main_page_block .second_main_page .form_page_block article p, .main_page_block .second_main_page .form_page_block article .menu_page_block p {
  justify-self: self-start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.menu_page_block .menu_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
.menu_page_block .menu_list .pizza_info {
  border-radius: 28px;
  display: grid;
  justify-items: center;
  grid-template-rows: 4fr 0.5fr 0.5fr 0.5fr 0.6fr;
}
.menu_page_block .menu_list .pizza_info img {
  margin: 30px;
}
.menu_page_block .menu_list .pizza_info h2, .menu_page_block .menu_list .pizza_info p, .menu_page_block .menu_list .pizza_info .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .menu_page_block .menu_list .pizza_info li, .menu_page_block .menu_list .pizza_info h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0px;
}
.menu_page_block .menu_list .pizza_info p, .menu_page_block .menu_list .pizza_info .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .menu_page_block .menu_list .pizza_info li {
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.menu_page_block .menu_list .pizza_info button {
  width: 200px;
  height: 55px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.menu_page_block .menu_list .pizza_info button a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu_page_block .menu_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.menu_page_block .menu_buttons button {
  width: 87px;
  height: 47px;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
.menu_page_block .menu_buttons #prevMenu {
  border-radius: 15px 0px 0px 15px;
  margin-right: 10px;
}
.menu_page_block .menu_buttons #nextMenu {
  margin-left: 10px;
}
.menu_page_block .menu_buttons div {
  grid-column: 1/3;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

@media (max-width: 700px) {
  .menu_page_block {
    grid-template-rows: 0.1fr 4fr 0.3fr;
    margin-left: 35px;
    margin-right: 35px;
  }
  .menu_page_block h1, .menu_page_block .form_page_block article h3, .form_page_block article .menu_page_block h3, .menu_page_block .form_page_block article h4, .form_page_block article .menu_page_block h4, .menu_page_block .form_page_block article .main_page_block .first_main_page p, .form_page_block article .main_page_block .first_main_page .menu_page_block p, .menu_page_block .main_page_block .first_main_page .form_page_block article p, .main_page_block .first_main_page .form_page_block article .menu_page_block p, .menu_page_block .form_page_block article .main_page_block .first_main_page ul li, .form_page_block article .main_page_block .first_main_page ul .menu_page_block li, .menu_page_block .main_page_block .first_main_page ul .form_page_block article li, .main_page_block .first_main_page ul .form_page_block article .menu_page_block li, .menu_page_block .form_page_block article .main_page_block .second_main_page p, .form_page_block article .main_page_block .second_main_page .menu_page_block p, .menu_page_block .main_page_block .second_main_page .form_page_block article p, .main_page_block .second_main_page .form_page_block article .menu_page_block p {
    justify-self: center;
  }
  .menu_page_block .menu_list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
  }
}
.form_page_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: center;
  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: 150px;
}
.form_page_block article {
  display: grid;
  grid-template-rows: 0.5fr 2.5fr 1fr;
}
.form_page_block article h1, .form_page_block article h3, .form_page_block article h4, .form_page_block article .main_page_block .first_main_page p, .main_page_block .first_main_page .form_page_block article p, .form_page_block article .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .form_page_block article li, .form_page_block article .main_page_block .second_main_page p, .main_page_block .second_main_page .form_page_block article p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form_page_block article h4, .form_page_block article .main_page_block .first_main_page p, .main_page_block .first_main_page .form_page_block article p, .form_page_block article .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .form_page_block article li, .form_page_block article .main_page_block .second_main_page p, .main_page_block .second_main_page .form_page_block article p {
  font-weight: 400;
  text-transform: none;
}
.form_page_block article h3 {
  text-transform: none;
}
.form_page_block article p, .form_page_block article .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul .form_page_block article li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.form_page_block .formtoDo {
  max-width: 570px;
}
.form_page_block .formtoDo h1, .form_page_block .formtoDo article h4, .form_page_block article .formtoDo h4, .form_page_block .formtoDo article .main_page_block .first_main_page p, .form_page_block article .main_page_block .first_main_page .formtoDo p, .main_page_block .first_main_page .form_page_block .formtoDo article p, .main_page_block .first_main_page .form_page_block article .formtoDo p, .form_page_block .formtoDo article .main_page_block .first_main_page ul li, .form_page_block article .main_page_block .first_main_page ul .formtoDo li, .main_page_block .first_main_page ul .form_page_block .formtoDo article li, .main_page_block .first_main_page ul .form_page_block article .formtoDo li, .form_page_block .formtoDo article .main_page_block .second_main_page p, .form_page_block article .main_page_block .second_main_page .formtoDo p, .main_page_block .second_main_page .form_page_block .formtoDo article p, .main_page_block .second_main_page .form_page_block article .formtoDo p, .form_page_block .formtoDo article h3, .form_page_block article .formtoDo h3 {
  margin: 50px 0px 50px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form_page_block .formtoDo form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.form_page_block .formtoDo form input {
  width: 450px;
  height: 55px;
  margin: 0px 40px 20px 40px;
  background: #FFFFFF;
  opacity: 0.2;
  border-radius: 15px;
}
.form_page_block .formtoDo form input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #1D1B2B;
  padding-left: 30px;
}
.form_page_block .formtoDo form button {
  width: 200px;
  height: 55px;
  margin-top: 30px;
  justify-self: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form_page_block .formtoDo form .invalid {
  color: red;
  margin: 0px 0px 0px 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.form_page_block .formtoDo form .valid {
  color: green;
  margin: 0px 0px 0px 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 700px) {
  .form_page_block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    margin-left: 50px;
  }
}
footer {
  background: #B83922;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
}
footer img {
  width: 145px;
  height: 45px;
  justify-self: center;
  align-self: center;
}
footer nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}
footer nav ul {
  display: grid;
  list-style: none;
  padding: 0px;
}
footer nav ul li {
  display: grid;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: white;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
  justify-self: center;
  margin: 10px;
}
footer div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
footer div p, footer div .main_page_block .first_main_page ul li, .main_page_block .first_main_page ul footer div li {
  margin: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: white;
}
footer div :nth-child(1) {
  align-self: self-end;
}
footer div :nth-child(3) {
  align-self: self-start;
}

@media (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
  }
  footer img {
    justify-self: self-start;
    align-self: center;
    margin-left: 20px;
  }
  footer nav {
    justify-content: flex-start;
    margin-left: 20px;
    padding: 0px;
  }
  footer nav li {
    justify-self: start;
  }
  footer div {
    margin-left: 20px;
  }
}