@font-face {
    font-family: Apple Chancery;
    src: url(../Apple\ Chancery.ttf);
}

.main_page_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 100px;

    .first_main_page {
        margin-left: $height_size*2;
        justify-self: self-end;
        div{
            margin-bottom: 70px;
        }

        h1{
            font-family: 'Anton';
            font-style: normal;
            font-weight: 400;
            font-size: 184px;
            line-height: 277px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin: 80px 0px 0px 0px;
        }

        h2{
            font-family: Apple Chancery;
            font-style: italic;
            font-weight: 0;
            font-size: 84px;
            line-height: 133px;
            letter-spacing: 0.05em;
            color: $dark_maincolor;
            margin: 0px;
            text-align: center;
            position: absolute;
            left: 350px;
            top: 374px;
        }

        h4{
            @extend %text_style;
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
        }

        p {
            @extend %text_style;
            text-transform: none;
            margin-bottom: 40px;
        }

        ul {
            list-style-image: url(../marker.png);
            padding: 10px;
            margin-bottom: 40px;

            li {
                @extend %text_style;
                margin-bottom: 20px;
                padding: 0px;
                margin-left: 15px;
            }
       }

       button {
            @extend %button_style_unactive;
            width: 125px;
            height: 55px;
            margin-bottom: 120px;
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Montserrat';
            font-size: 18px;
            a{
                text-decoration: none;
                color: #FFFFFF;
            }
            &:hover{
            background-color: $main_color;
            }
            &:active{
            background-color: $dark_maincolor;
            }
       }
       
    }

    .second_main_page {
        display: grid;
        grid-template-rows: 2fr 0.3fr;
        justify-items: center;

        .main_sec_slaid {
            width: 100%;
            position: relative;
            overflow: hidden;
        }
      
        button {
            width: 87px;
            height: 47px;
            @extend %button_style_unactive;
            border-radius: 0px 15px 15px 0px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 600;
        }

        #prev {
            border-radius: 15px 0px 0px 15px;
            margin-right: 20px;
        }

        #prev:hover,
        #next:hover{
            @extend %button_style_hover;
        }
        #prev:active,
        #next:active{
            @extend %button_style_act;
        }

        .slaider{
            max-width: 100%;
            position: relative;
            display: flex;
            transition: left;
            left: 0px;
        }

        .contain2{
            width: 100%;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
        }
        .contain_slide{
            display: grid;
            grid-template-rows: 0.3fr 3fr 0.2fr 0.4fr;
            justify-items: center;
        }

        .discount {
            position: relative;
            display: flex;
            width: 160px;
            height: 160px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%), #1D1B2B;
            border: 1.73214px solid $main_color;
            border-radius: 50%;
            top: 95px;
            left: -200px;
            z-index: 0;
            line-height: 77px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #B83922;
            font-family: Apple Chancery;
            font-style: italic;
            font-size: 48px;
            box-sizing: border-box;
            padding: 40px 20px 40px 20px;
        }
        
        .pizza_foto {
            background: radial-gradient(50% 50% at 50% 50%, rgba(236, 77, 47, 0) 0%, rgba(236, 77, 47, 0.17) 100%), #1D1B2B;
            border: 1.73214px solid $main_color;
            border-radius: 50%;
            width: 550px;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            img{
                max-width: 490px;
                height: 490px;
            }
           }

        h4{
            @extend %text_style;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

        p{
            @extend %text_style;
            color: $main_color;
        }
    }
}

@media (max-width: 1000px) {
    .main_page_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .first_main_page {
            margin-left: 20px;
            margin-right: 20px;
            justify-self: center;
       
        }
    }
}